# Virtual environments
env/
venv/
.env

# AWS Certificates
certs/

# Model weights
models/**/*.pt
models/**/*.onnx
models/**/*.bin
models/**/*.param
# We keep the structure but ignore the big weights
!models/yolo11n_ncnn/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

runs/
yolo11n.pt